In [57]:
import pandas as pd
import numpy as np
from sklearn import linear_model
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv("homeprices.csv")
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [9]:
import math
meadian_bedrooms = math.floor(df.bedrooms.median())
meadian_bedrooms

4

In [13]:
df.bedrooms=df.bedrooms.fillna(meadian_bedrooms)
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       4.0   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [75]:
reg = linear_model.LinearRegression()
reg.fit(df[["area","bedrooms","age"]], df.price)
print("coef (m): ",reg.coef_)
print("intercept (b): ",reg.intercept_)

coef (m):  [  112.06244194 23388.88007794 -3231.71790863]
intercept (b):  221323.00186540384

In [37]:
reg.predict(pd.DataFrame([[3000,3,40]],columns=["area","bedrooms","age"]))

array([498408.25158031])

In [43]:
## y = m1*x1+m2*x2+m3*x3+b
112.06244194*3000+23388.88007794*3+(-3231.71790863)*40+221323.00186540384

498408.25157402386

In [41]:
reg.predict(pd.DataFrame([[2500,4,5]],columns=["area","bedrooms","age"]))

array([578876.03748933])

In [77]:
112.06244194*2500+23388.88007794*4+(-3231.71790863)*5+221323.00186540384

578876.0374840139